<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="conteiner">
        <ul class="nav navbar-nav">
          <li> <a class="navbar-brand" href="{% url 'index' %}">BRAND</a> </li>
          <li> <a class="navbar-link" href="{% url 'admin:index' %}">Admin</a> </li>
          <li> <a class="navbar-link" href="{% url 'sweetsbyhaydee:users' %}">users</a> </li>
          <li> <a class="navbar-link" href="{% url 'sweetsbyhaydee:quem_sou' %}">Quem Sou</a> </li>
        </ul>
      </div>
    </nav>
    <div class="conteiner">
      {% block body_block %}

      {% endblock %}
    </div>
  </body>
</html>
