<!DOCTYPE html>
{% extends "sweetsbyhaydee/base.html" %}
  {% block body_block %}
        <h1>Please sign up here!</h1>
        <form method="POST">
          {{ form.as_p }}
          {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="Sumit">
    {% endblock %}
